.stepper{
  display: inline-block;
  .step-btn{
    width: .2rem;
    height: .2rem;
    background: #efefef;
    font-size: .12rem;
  }
  .step-input{
    width: .3rem;
    height: .2rem;
    text-align: center;
    line-height: .2rem;
    font-size: .12rem;
    background: #efefef;
  }
}