.header{
  position: fixed;
  top: 0;
  background: #f40;
  width: 100%;
  height: .44rem;
  line-height: .44rem;
  text-align: center;
  color: #fff;
  h2 {
    font-size: .16rem;
  }
  .edit {
    display: none;
    position: absolute;
    right: .15rem;
    top: 0.01rem;
  }
}